/* Write your CSS here */
.list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  cursor: pointer;
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-btn {
  background-color: transparent;
  align-self: flex-end;
}
